<header class="site-header">
  <div class="site-header-left">
    <a
      href="https://www.betterfoodfoundation.org/"
      aria-label="Better Food Foundation home page"
    ><img src="./bff-logo-text.png" alt="Better Food Foundation logo"/></a>
  </div>
  <div class="site-header-right">
    <ul role="menubar">
      <li role="none" class="site-header-map-link">
        <a role="menuitem" href="#">Nudge map</a>
      </li>
      <li role="none">
        <a role="menuitem" href="https://www.betterfoodfoundation.org/donate/">Donate</a>
      </li>
    </ul>
  </div>
</header>
